@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: RobotoCondensed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.over-block {
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow.right {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Шапка Мобильный */

.header__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none;
  background: rgb(23, 26, 41);
  padding: 15px 0;
}

.header__mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__mobile-btn {
  position: relative;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: none;
}

.header__mobile-btn::before,
.header__mobile-btn::after,
.header__mobile-btn span {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background: grey;
  left: 10%;
}

.header__mobile-btn::before {
  top: 12px;
}

.header__mobile-btn::after {
  bottom: 12px;
}

.header__mobile-btn span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__mobile-logo {
  width: 135px;
}

.header__mobile-phone {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
}

.header__mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.header__mobile-socials-link {
  width: 40px;
}

/* Меню Мобильный */

.mobile__menu {
  position: relative;
  max-width: 260px;
  height: 100%;
  background-color: hsl(230deg, 28%, 13%);
  float: right;
  padding: 65px 25px 25px;
}

.mobile__menu-overlay {
  opacity: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.mobile__menu-overlay.active {
  opacity: 1;
  right: 0;
}

.mobile__menu-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}

.mobile__menu-close::before,
.mobile__menu-close::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  left: 0;
}

.mobile__menu-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile__menu-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile__menu-logo {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.mobile__menu-list {
  list-style: none;
}

.mobile__menu-list-item {
  margin-bottom: 15px;
}

.mobile__menu-list-link {
  color: #FFFFFF;
  font-size: 18px;
}

.mobile__menu-btn {
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding: 10px 20px;
  background: none;
  color: #FFFFFF;
  border: 2px solid #ff9900;
}

/* Первый Экран */

.intro {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title,
.intro__title-m {
  color: #333333;
  font-size: 40px;
  font-family: RobotoCondensed;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.intro__title-m {
  display: none;
}

.intro__advantages {
  margin-bottom: 30px;
}

.intro__advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.intro__advantages-icon {
  min-width: 50px;
  min-height: 50px;
  background: #95bef1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.intro__advantages-icon img {
  width: 60%;
}

.intro__advantages-txt {
  color: #000000;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  font-family: RobotoCondensed;
}

.intro__prices {
  margin-bottom: 30px;
}

.intro__prices-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.intro__prices-txt {
  color: #4d4d4d;
  font-size: 20px;
  font-family: RobotoCondensed;
  line-height: 1;
  font-weight: 400;
}

.intro__prices-price-regular {
  color: #4d4d4d;
  font-size: 26px;
  font-family: RobotoCondensed;
  line-height: 1;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0 15px;
}

.intro__prices-price-bold {
  position: relative;
  color: #4d4d4d;
  font-size: 26px;
  font-family: RobotoCondensed;
  line-height: 1;
  font-weight: 700;
}

.intro__prices-price-bold::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 5px;
  background-color: #ff9900;
  left: 0;
  bottom: -10px;
}

.intro__date {
  color: #4d4d4d;
  font-size: 18px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}

.intro__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.intro__btn {
  width: 50%;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 500;
  border-radius: 0px;
  height: 60px;
  background-position: center center;
  border-color: transparent;
}

.intro__calc {
  background-color: #2a7fff;
}

.intro__call {
  background-color: #40a640;
}

.intro__orders {
  display: none;
  position: absolute;
  background-color: #4d8802;
  padding: 8px 20px;
  top: 0;
  right: 15px;
  z-index: 9;
  color: white;
  font-size: 18px;
}

.intro .intro__slider-small .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100% !important;
  -webkit-transform: translate3d(0, 0px, 0px) !important;
          transform: translate3d(0, 0px, 0px) !important;
}

.intro .intro__slider-small .slick-dots {
  display: none;
}

.intro__slider-btn {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  border: none;
  background: #ff9900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
}

.intro__slider-btn:focus {
  outline: none;
}

.intro__slider-btn .arrow {
  border-color: white;
}

.intro__slider-prev {
  left: 40px;
}

.intro__slider-next {
  right: 20px;
}

.intro__slide-small {
  width: 55px !important;
  height: 55px;
  margin: 15px;
  cursor: pointer;
}

.intro__slide-small img {
  border-radius: 10px;
}

.intro__slide-small.slick-current img {
  border: 5px solid #ff9900;
}

.intro__slider-col {
  position: relative;
}

/* Скидка */

.sale {
  text-align: center;
  color: white;
}

.sale__section {
  padding: 30px 10px;
  background-color: #ff9900;
}

.sale__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale__title {
  color: #ffffff;
  font-size: 34px;
  line-height: 1.55;
  font-weight: 700;
}

.sale__date {
  color: #ffffff;
  font-size: 28px;
  line-height: 1.55;
  font-weight: 700;
}

.sale__percent {
  color: #ffffff;
  font-size: 80px;
  line-height: 1.55;
  font-weight: 700;
}

.sale__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.sale__form-control {
  width: 50%;
}

.sale__label {
  display: none;
}

.sale__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #40a640;
  border-radius: 0px;
  font-size: 14px;
  font-family: Roboto;
  cursor: pointer;
}

.sale__phone {
  padding-left: 15px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}

.sale__phone::-webkit-input-placeholder {
  opacity: 0.7;
}

.sale__phone::-moz-placeholder {
  opacity: 0.7;
}

.sale__phone:-ms-input-placeholder {
  opacity: 0.7;
}

.sale__phone::-ms-input-placeholder {
  opacity: 0.7;
}

.sale__phone::placeholder {
  opacity: 0.7;
}

.sale__submit {
  background: #40a640;
  border: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .intro {
    padding-top: 170px;
    padding-bottom: 50px;
  }

  .intro__title {
    display: none;
  }

  .intro__title-m {
    display: block;
  }

  .intro__content-col {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .intro__orders {
    display: block;
  }
}

@media (max-width: 991px) {
  .header__mobile {
    display: block;
  }
}

@media (max-width: 575px) {
  .header__mobile-btn {
    width: 35px;
    height: 35px;
  }

  .header__mobile-btn::before {
    top: 10px;
  }

  .header__mobile-btn::after {
    bottom: 9px;
  }

  .header__mobile-phone {
    font-size: 12px;
  }

  .header__mobile-socials {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .header__mobile-socials-link {
    width: 35px;
  }

  .intro {
    padding-top: 120px;
  }

  .intro__slider-btns {
    display: none;
  }

  .intro__title,
  .intro__title-m {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
  }

  .intro__advantages {
    display: none;
  }

  .intro__prices {
    margin-bottom: 0;
  }

  .intro__prices-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__prices-txt {
    font-size: 18px;
  }

  .intro__prices-price-regular {
    font-size: 18px;
  }

  .intro__prices-price-bold {
    font-size: 20px;
  }

  .intro__date {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .intro__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__btn {
    width: 100%;
  }

  .intro__slide-small {
    min-width: 50px !important;
    margin: 10px;
  }

  .sale__title,
  .sale__date {
    font-size: 18px;
  }

  .sale__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .sale__form-control {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .intro__slide-small {
    margin: 5px;
  }

  .intro__title,
  .intro__title-m {
    font-size: 20px;
  }

  .intro__prices-txt {
    font-size: 16px;
  }

  .intro__prices-price-regular {
    font-size: 16px;
  }

  .intro__prices-price-bold {
    font-size: 16px;
  }

  .intro__slide-small {
    min-width: 50px !important;
  }
}